body{
    background-color: #AB2000;
}

header{
    border-bottom: 2px solid #008BAB;
}

.secao{
    border-color: #008BAB;
}

.lista{
    color: #FF4500;
}

.lista div{
    border-color: #008BAB;
}

.navegacao{
    border: 1px solid #008BAB;
}
.sidebar.navegacao {    
    width: 200px;
    flex-shrink: 0; 
    position: sticky;
    top: 20px;
}

.sidebar h3{
   color: #008BAB; 
   border-bottom: 1px solid #008BAB;
}

.sidebar a:hover {
    color: #E0681D;
}
