*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-color: #121212;
}
header{
    background-color: #1a1a1a;
    color: white;
    text-emphasis-color: #DEB371; 
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #DEB371;
}

.magias_container {
    display: grid;
    height: 60vh;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;    
  align-items: center;       
  justify-content: center; 
  text-align: center;        
  border: 1px solid #c9a227; 
  padding: 15px;
}

.card a{
    color: inherit;
    text-decoration: none;
}


.card h2:hover {
    transition: transform 0.3s ease, filter 0.3s ease;
    transform: scale(1.15);
}

.card img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.feiticos{
    color: #74ACDF;
}

.milagres{
    color: #DEB371;
}

.piromancias{
    color: #FF4500;
}

.sortilegios{
    color: #8A2BE2;
}