body{
    background-color: #AB2000;
}

header{
    border-bottom: 2px solid #AB7600;
}

.secao{
    border-color: #AB7600;
}

.lista{
    color: #AB2000;
}

.lista div{
    border-color: #AB7600;
}

.navegacao{
    border: 1px solid #AB7600;
}
.sidebar.navegacao {    
    width: 200px;
    flex-shrink: 0; 
    position: sticky;
    top: 20px;
}

.sidebar h3{
   color: #AB7600; 
   border-bottom: 1px solid #AB7600;
}

.sidebar a:hover {
    color: #AB7600;
}
